/* Add CSS Styling */
.first,
.second {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.first {
    background-color: rgba(20, 1, 1, 0.578);
    color: white;
}

.second {
    background-color: yellow;
}