body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px
}

.title {
  background: #e3f4ff;

}

.content {
  background: #e3f4ff;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  display: block;
  margin: 0 auto;
}